h1{
    color: darkcyan;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

p{
    color: darkcyan;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 5%;
    margin-right: 5%;
    font-weight: 500;
}
.link{
    text-decoration: none;
    color: chartreuse;
}
.container{
    background-color: #eee;
    width: 45%;
    padding: 5%;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
}
.draw{
    color: red;
    font-weight: 900;
}
.deposit{
    color: green;
    font-weight: 900;
}